<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>MEI Massaging - Manage uploaded documents</title>
	</head>
	<body>
	<!-- List of uploaded documents -->
	{% if items %}
		<ul>
		{% for item in items %}
			<li>
				<form action="{% url "list" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					<a href="{{ item.docfile.url }}">{{ item.docfile.name }}</a>
					<input type="hidden" name="selection" value={{item.docfile}}>
					<input type="submit" name="action" value="Delete"/>
				</form>
			</li>
		{% endfor %}
		</ul>
	{% else %}
		<p>No items.</p>
	{% endif %}

		<!-- Upload form. Note enctype attribute! -->
		<form action="{% url "metadata" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<p>{{ form.non_field_errors }}</p>
			<p>{{ form.plainmei.label_tag }} {{ form.plainmei.help_text }}</p>
			<p>
				{{ form.plainmei.errors }}
				{{ form.plainmei }}
			</p>
			<p><input type="submit" name="action" value="Upload" /></p>
		</form>
	</body>
</html>