<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Processing</title>   
	</head>
	<body>
		{% if document %}
			Processing:
			{{ document.docfile.name|escape }}

			<p>	
			<form action ="{% url "select" %}" method="post" enctype="multipart/form-data">
					{% csrf_token %}

				{% if staves %}
					{% for altStaff in staves %}
						
						Staff {{ forloop.counter }} ({{altStaff|escape}})
						is an alt reading of staff 
						<select name="readingOf{{forloop.counter}}">
							{% for origStaff in staves %}
								<option value = {{origStaff}} {% if origStaff=altStaff%} selected = "selected"{% else %}{% endif%}>{{origStaff}}</option>
							{% endfor %}
						</select>
						from source SOMEWHERE<br>
					{% endfor %}

				{% else %}
					<p>No staves were detected! What a Cagian piece!</p>
				{% endif %}
				<input type="radio" name="processType" value="variant">Variant
				<input type="radio" name="processType" value="reconstruction">Reconstruction<br><br>

				<input type="checkbox" name="replace_longa" checked="checked">
				Make final note longa?<br>

				<input type="checkbox" name="obliterate_incipit"
				{% if first_measure_empty %} checked="checked" {% else %}{% endif %}>
				Obliterate first measure? (Leave checked if first measure is incipit.)<br>

				<input type="checkbox" name="arranger_to_editor">
				Change &lt;arranger&gt; tag to &lt;editor&gt;?<br>

				<p><input type="submit" value="Process" /></p>

			</form>

		{% else %}
			<p>No document selected.</p>
		{% endif %}

		<form action ="{% url "selectTransform" %}" method="post" enctype="multipart/form-data">
			{% csrf_token %}
			<input type="submit" value="Go back"/>
		</form>
	</body>
</html>